SRC/__pycache__
SRC/FUN/__pycache__
SRC/FUN/CONF/__pycache__
SRC/FUN/CC/__pycache__
/SRC/font
SRC/rsc.qrc
/SRC/IMG
*.qrc
SRC/test.py
.sourcery.yaml
.vscode/settings.json
.trunk/.gitignore
.trunk/trunk.yaml
build/Microsex/Analysis-00.toc
build/Microsex/base_library.zip
build/Microsex/EXE-00.toc
build/Microsex/Microsex.pkg
build/Microsex/PKG-00.toc
build/Microsex/PYZ-00.pyz
build/Microsex/PYZ-00.toc
build/Microsex/warn-Microsex.txt
build/Microsex/xref-Microsex.html
build/Microsex/localpycs/pyimod01_archive.pyc
build/Microsex/localpycs/pyimod02_importers.pyc
build/Microsex/localpycs/pyimod03_ctypes.pyc
build/Microsex/localpycs/pyimod04_pywin32.pyc
build/Microsex/localpycs/struct.pyc
dist/Microsex.exe
Microsex.spec
