SRC/__pycache__
SRC/FUN/__pycache__
SRC/FUN/CONF/__pycache__
SRC/FUN/CC/__pycache__
/SRC/font
SRC/IMG/back.png
SRC/IMG/clr_ld.png
SRC/IMG/edit.png
SRC/IMG/ld.png
SRC/IMG/next.png
SRC/IMG/open.png
SRC/IMG/power.png
SRC/IMG/run.png
SRC/IMG/save.png
SRC/IMG/step.png
SRC/rsc.qrc
SRC/IMG/icon32.png
SRC/IMG/AND.png
SRC/IMG/OR.png
SRC/IMG/XOR.png
SRC/IMG/ALU ubc.png
SRC/IMG/ALU mux.png
SRC/IMG/Sumador.png
SRC/IMG/LCT.png
SRC/IMG/USC alu.png
SRC/IMG/USC acum.png
SRC/IMG/USC descod.png
SRC/IMG/USC flecha.png
SRC/IMG/USCE alu.png
SRC/IMG/USCE acum.png
SRC/IMG/USCE mux.png
SRC/IMG/USCE descod.png
SRC/IMG/USCE mdat.png
SRC/IMG/USCE flecha arr.png
SRC/IMG/USCE flecha izq.png
SRC/IMG/LOGO_GRANDE.png