SRC/__pycache__
SRC/FUN/__pycache__
SRC/FUN/CONF/__pycache__
SRC/FUN/CC/__pycache__
/SRC/font
SRC/rsc.qrc
rsc.qrc
/SRC/IMG
*.qrc
SRC/test.py
.sourcery.yaml
.vscode/settings.json
.trunk/.gitignore
.trunk/trunk.yaml
build/Microsex/Analysis-00.toc
build/Microsex/base_library.zip
build/Microsex/EXE-00.toc
build/Microsex/Microsex.pkg
build/Microsex/PKG-00.toc
build/Microsex/PYZ-00.pyz
build/Microsex/PYZ-00.toc
build/Microsex/warn-Microsex.txt
build/Microsex/xref-Microsex.html
build/Microsex/localpycs/pyimod01_archive.pyc
build/Microsex/localpycs/pyimod02_importers.pyc
build/Microsex/localpycs/pyimod03_ctypes.pyc
build/Microsex/localpycs/pyimod04_pywin32.pyc
build/Microsex/localpycs/struct.pyc
dist/Microsex.exe
Microsex.spec
build/Microsex/_pyi_gschema_compilation/00_org.gnome.shell.extensions.classic.gschema.override
build/Microsex/_pyi_gschema_compilation/00_org.gnome.shell.gschema.override
build/Microsex/_pyi_gschema_compilation/10_gnome-shell.gschema.override
build/Microsex/_pyi_gschema_compilation/10_gnome-terminal.gschema.override
build/Microsex/_pyi_gschema_compilation/10_gnome-tweaks.gschema.override
build/Microsex/_pyi_gschema_compilation/10_gsettings-desktop-schemas.gschema.override
build/Microsex/_pyi_gschema_compilation/10_ubuntu-dock.gschema.override
build/Microsex/_pyi_gschema_compilation/50_pop-desktop.gschema.override
build/Microsex/_pyi_gschema_compilation/50_pop-session.gschema.override
build/Microsex/_pyi_gschema_compilation/com.canonical.Unity.Lenses.gschema.xml
build/Microsex/_pyi_gschema_compilation/com.github.donadigo.eddy.gschema.xml
build/Microsex/_pyi_gschema_compilation/com.github.libpinyin.ibus-libpinyin.gschema.xml
build/Microsex/_pyi_gschema_compilation/com.mattjakeman.ExtensionManager.gschema.xml
build/Microsex/_pyi_gschema_compilation/com.system76.hidpi.gschema.xml
build/Microsex/_pyi_gschema_compilation/com.ubuntu.login-screen.gschema.xml
build/Microsex/_pyi_gschema_compilation/gschemas.compiled
build/Microsex/_pyi_gschema_compilation/io.elementary.appcenter.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.freedesktop.ColorHelper.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.freedesktop.folks.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.freedesktop.IBus.Chewing.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.freedesktop.ibus.engine.table.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.freedesktop.ibus.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.freedesktop.Tracker3.Extract.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.freedesktop.Tracker3.FTS.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.freedesktop.Tracker3.Miner.Files.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.freedesktop.TrackerMiners3.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.baobab.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.calculator.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.calendar.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.calendar.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.Charmap.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.Cheese.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.Contacts.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.ControlCenter.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.crypto.cache.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.crypto.pgp.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.a11y.applications.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.a11y.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.a11y.interface.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.a11y.keyboard.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.a11y.magnifier.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.a11y.mouse.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.app-folders.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.background.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.calendar.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.datetime.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.default-applications.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.input-sources.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.interface.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.lockdown.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.media-handling.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.notifications.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.peripherals.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.privacy.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.remote-desktop.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.remote-desktop.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.screensaver.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.search-providers.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.session.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.sound.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.thumbnail-cache.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.thumbnailers.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.wm.keybindings.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.desktop.wm.preferences.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.Disks.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.eog.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.eog.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.Evince.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.evolution-data-server.addressbook.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.evolution-data-server.calendar.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.evolution-data-server.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.Evolution.DefaultSources.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.evolution.eds-shell.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.evolution.shell.network-config.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.FileRoller.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.Geary.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gedit.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gedit.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gedit.plugins.externaltools.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gedit.plugins.filebrowser.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gedit.plugins.filebrowser.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gedit.plugins.pythonconsole.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gedit.plugins.spell.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gedit.plugins.time.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gedit.plugins.time.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gnome-system-monitor.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.gnome-system-monitor.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.GWeather.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.GWeather.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.GWeather4.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.GWeather4.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.libgnomekbd.desktop.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.libgnomekbd.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.libgnomekbd.keyboard.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.login-screen.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.mutter.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.mutter.wayland.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.mutter.x11.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.nautilus.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.nm-applet.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.online-accounts.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.power-manager.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.seahorse.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.seahorse.manager.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.seahorse.window.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.SessionManager.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.peripherals.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.peripherals.wacom.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.color.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.housekeeping.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.media-keys.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.power.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.sharing.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.wwan.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.settings-daemon.plugins.xsettings.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.appindicator.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.apps-menu.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.auto-move-windows.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.cosmic-workspaces.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.dash-to-dock.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.ding.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.native-window-placement.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.pop-cosmic.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.pop-shell.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.screenshot-window-sizer.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.user-theme.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.extensions.window-list.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.shell.ubuntu.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.SimpleScan.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.system.dns_sd.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.system.gvfs.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.system.locale.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.system.location.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.system.proxy.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.system.smb.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.Terminal.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.totem.enums.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.totem.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.totem.plugins.opensubtitles.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.totem.plugins.pythonconsole.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.tweaks.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.Weather.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gnome.yelp.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gtk.gtk4.Settings.ColorChooser.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gtk.gtk4.Settings.Debug.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gtk.gtk4.Settings.EmojiChooser.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gtk.gtk4.Settings.FileChooser.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gtk.Settings.ColorChooser.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gtk.Settings.Debug.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gtk.Settings.EmojiChooser.gschema.xml
build/Microsex/_pyi_gschema_compilation/org.gtk.Settings.FileChooser.gschema.xml
dist/Microsex
SRC/to_dec.py
SRC/test.asm
SRC/CC_16/__pycache__/alu_16.cpython-312.pyc
SRC/CC_16/__pycache__/ubc_16.cpython-312.pyc
SRC/CC_16/__pycache__/usc_16.cpython-312.pyc
SRC/CC_16/__pycache__/utils.cpython-312.pyc
SRC/CC_16/__pycache__/alu_16.cpython-312.pyc
SRC/CC_16/__pycache__/ubc_16.cpython-312.pyc
test.py
debug.log
SRC/test copy.py
SRC/regular.png
SRC/regular.ico
SRC/big.png
SRC/icon.ico
