    th,
    td {
    min-width:0;
    padding:.25rem .45rem;
    }
    tbody tr:last-of-type td {
        padding-bottom:.25rem;
    }
    thead th {
        border-bottom:2px solid #44434d;
        background-color: #352C36;
    }

    .site-nav .nav-list-link {
        color: #A5A3A6
    }