    th,
    td {
    min-width:0;
    padding:.25rem .45rem;
    }
    tbody tr:last-of-type td {
        padding-bottom:.25rem;
    }
    thead th {
        border-bottom:2px solid #44434d;
        background-color: #352C36;
    }

    /* .site-nav > .nav-list-link {
        color: #A5A3A6
    } */

    @media (min-width: 66.5rem) {
        .site-nav, .site-header, .site-footer {
          width: 24rem;
        }
      }
    
    .nav-list .nav-list-item>.nav-list {
        padding-left: 1.25rem;
    }

    .nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
        color: #B5B3B6;
    }

    .nav-list .nav-list-item > .nav-list .nav-list-item > .nav-list-link {
        color: #E5E3E6;
    }
